*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
 }
 body{ 
    background: black;
    color:   white;
    height: 200vh;
    width: 100%;
    
}
  
header .logo {
   font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 30px;
    padding: 4rem 12% 4rem;
    background: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;

}
.logo{
    font-size: 3.3rem;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
     text-shadow: 0 0 25px  red;
 }
 .logo:hover{
    transform: scale(1.1);
    text-shadow: 0 0 25px  red,
                 0 0 45PX  red;

}.navbar a{
    font-size: 1.8rem;
    color:   white;
    margin-left: 4rem;
    font-weight: 400;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    
 }
 .navbar a:hover,
 .navbar a:active{
    color:   white;
    border-bottom: 3px solid red;
    text-shadow: 0 0 25px white,
                 0 0 50px #fff;
 }
 section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
    
    
    
 }
 .home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    background-image: url(landingpgphoto/1f217a689dd380d0c90f4493592402fc.jpg) ;
    background-repeat: no-repeat;
    background-position:  right;
    background-size: 40% 100%;
    
 }
 .home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 2rem;
    margin-left: -20rem;
    
    
 }
 span{
    color: white;

 }
 .home-content p{
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-right: 20rem;
    margin-left: 10rem;
    font-size: 15px;
    font-family: "Poppins",sans-serif;
    text-align: left;
 }
 .home-content h1{
    font-size: 4rem;
    color:#fff;
    font-weight: 600;
    margin-top: -.6rem;
    line-height: 1;
    font-family: "Poppins", sans-serif;
        
        font-style: normal;
        
 }
 
  
 .home-content{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
 }
 .social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: 2px solid #fff ;
    font-size: 1.5rem;
    border-radius: 50%;
    color: white;
    margin: 8px 0.5px 30px 0px;
    transition: 0.3s ease-in-out;
 }
   .social-icons a:hover{
    color: #ffffff;
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px white;
    background-color: red;

 }
 .btn{
    display: inline-block;
    padding: .4rem 1.4rem;
    background-color: red;
    font-family: "Poppins",sans-serif;
    border-radius: 1rem;
    font-size: 1.3rem;
    color:  white;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin-top: -20px;
 }
 .btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px red;
 }
/*------------------------------------------------menu---------------------------------------------------------------------*/
.menu{
   height: 100vh;
   width: 100%;
   justify-content: center;
   align-items: center;
   
} 
.heading{
   font-size: 25px;
   font-family: "Poppins",sans-serif;
   justify-content: center;
   text-align: center;
   align-items: center;
   margin-top: -2rem;
   color: red;
}
.subhead p{
   font-size: 15px;
   font-family: "Poppins",sans-serif;
   justify-content: center;
   text-align: center;
   align-items: center;
   margin-top: 0rem;

}
.cards{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}
.card{
   width: 200px;
   height: 300px;
   aspect-ratio: 1/0.7;
   border-radius: 10px;
   position: relative;
   cursor: pointer;
   margin-top: 2.5rem;
   border: 5px solid white;
   overflow: hidden;
}

 
.card .card-img{
   width: 100%;
   height: 100% ;
   object-fit: cover;
   object-position: 50% 90%;
   border-radius:  8px;
   transition: 0.3s ease-in-out;
   /* border: 4px solid white; */
}
.card-body{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   right: -150%;
   backdrop-filter: blur(5px);
   text-align: center;
   background: #ffa70362;
   border-radius: 8px;
   padding: 10px;
   display: flex; 
   flex-direction: column;
   justify-content: center;
   
}
.card:hover .card-body{
   right: 0;
   transition: .7s;
}
.card-heading{
   text-transform: uppercase;
   font-size: 23px;
   font-weight: 700;
   margin: 10px 0;
   color: black;
   font-family: "Poppins",sans-serif;
   
   
}
.sub-info{
   color: black;
   font-family: "Poppins",sans-serif;
   font-weight: 500;

}
.card-brief{
   text-transform: capitalize;
   font-size: 16px;
   font-weight: 500;
   margin: 10px 10px;
   color: black;
   font-family: "Poppins",sans-serif;

} 
 #paneer{
   zoom: 40%;
 }
 .card .star span{
   color: black;
   
   background-color: transparent;
 }
 .card .star span i{
   font-size: 25px;
   color: rgb(0, 97, 0);
   
}
/*-----------------------------------------------about--------------------------------------------------------------------*/
.about{
   height: 100vh;
   width: 100%;
}
.about .about-heading{
   font-family: "Poppins",sans-serif;
   font-size: 40px;
   font-weight: 300px;
   text-align: center;
   justify-content: center;
}
/* .about .containers{
   height: 380px;
   width: 100%;
   justify-content: space-evenly;
   gap: 2rem;
   margin-top: 2rem;
   display: flex;
   flex-direction: row;
   margin-bottom: -100rem;
}
.about .containers .box{
   position: relative;
   border: 3px solid white;
   height: 100%;
   width: 100%;
   border-radius: 1rem;
   
   
   
}
.container{
   margin-top: -23rem;
}
   

.container .tag{
   justify-content: center;
   text-align: center;
   align-items: center;
   font-size: 60px;
   margin: 1rem;
}
.container h3{
   justify-content: center;
   text-align: center;
   align-items: center;
   font-size: 25px;
   margin: 1rem;
   font-family: "Poppins",sans-serif;
}
.container p{
   justify-content: center;
   text-align: center;
   align-items: center;
   font-size: 15px;
   margin: 1rem;
   font-family: "Poppins",sans-serif;
}
.about .box .about-img{
   width: 100%;
   height: 100% ;
   object-fit: cover;
   object-position: 50% 90%;
   border-radius:  1rem;
   transition: 0.3s ease-in-out; 
   top: 0;
   
   
   
   
}
 */
 .containers{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}
.box{
   width: 200px;
   height: 300px;
   aspect-ratio: 1/0.7;
   border-radius: 10px;
   position: relative;
   cursor: pointer;
   margin-top: 2.5rem;
   border: 5px solid white;
   overflow: hidden;
}

 
.box .about-img{
   width: 100%;
   height: 100% ;
   object-fit: cover;
   object-position: 50% 90%;
   border-radius:  8px;
   transition: 0.3s ease-in-out;
   /* border: 4px solid white; */
}
.container{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   right: -150%;
   backdrop-filter: blur(5px);
   text-align: center;
   background: #ff03dd62;
   border-radius: 8px;
   padding: 10px;
   display: flex; 
   flex-direction: column;
   justify-content: center;
   
}
.box:hover .container{
   right: 0;
   transition: .7s;
}
.tag{
   text-transform: uppercase;
   font-size: 28px;
   font-weight: 700;
   margin: 10px 0;
   padding-top: 15px;
   color: black;
   font-family: "Poppins",sans-serif;
   
   
}
.container h3{
   color: black;
   font-family: "Poppins",sans-serif;
   font-weight: 600;
   font-size: 20px;

}
.container p{
   text-transform: capitalize;
   font-size: 14px;
   font-weight: 500;
   margin: 10px 10px;
   color: black;
   font-family: "Poppins",sans-serif;

} 






/*----------------------------------------contact-----------------------------------------------------------------------*/
.contact .headline{
   font-family: "Poppins",sans-serif;
   font-size: 40px;
   font-weight: 300px;
}
.contact .left h4{
   font-size: 30px;
   font-family: "Poppins",sans-serif;
   color: #d00000;
   
}
.contact .left p{
   font-size: large;
}
.contact .left p i{
   color: red;
}
.contact .right form{
   margin-left:40rem;
   margin-top: -16rem;
   margin-right: 4rem;
   border: 1px solid red;
   padding: 2.5rem .6rem;
   background-color: black;
   box-shadow: 0 0 15px red;
   
   
}
.contact .right form input,
.contact .right form textarea{
   color: white;
   font-size: 15px;
   border: 1px solid  white;
   margin: 3px 2px;
   width: 100%;
   border-radius: 3rem;
   padding: .5rem 1.5rem;
   background-color: transparent;
}
.contact .right .button{
   display: inline-block;
   width: 50%;
   justify-content: center;
   align-items: center;
   margin-left: 4rem;
    padding: .2rem .4rem;
    background-color: red;
    font-family: "Poppins",sans-serif;
    border-radius: 1rem;
    font-size: 1rem;
    color:  white;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
 }
 .contact .right .button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px red;

}

/*=========================================footer--------------------------------------------------------------------*/
.footer{
    position: relative;
    width: 100%;
    padding: 40px 0;
    background-color: #d00000;
    

 }
 .footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #fff;
 }
 .footer .social a{
    font-size: 15px;
    
    color: white;
    width: 42px;
    line-height: 42px;
    display: inherit block;
    text-align: center;
    
    margin: 0 10px;
    transition: 0.3s ease-in-out;
    
 }
 .footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color:#780000;
    color: white;
    box-shadow: 0 0 25px white;
 
 }
 .footer ul{
    margin-top: 10px;
    padding: 0;
    font-size: 5px;
    margin-bottom: 0;
    line-height: 1.6;
    text-align: center;
    background-color: transparent;
 }
 .footer ul li a{
    color: white;
     transition: 0.3s ease-in-out;
     font-size: 5px;
     text-decoration: none;
    
 }
 .footer ul li a:hover{
    border-bottom:  1px solid #fff;
    background-color: red;
    
 
 } 
 .footer ul li {
    display: inline-block;
    padding: 0 15px;
 }
 .footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
    color: white;
 } 
